@charset "UTF-8";

html {
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

a {
    text-decoration: none;
    color: #000000;
}

.wrap {
    margin: 0 auto;
    max-width: 1180px;
}

.header {
    margin: 0 auto;
    padding-top: 20px;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header-link {
    padding-right: 55px;
}

.header__logo-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3em;
    text-decoration: none;
    color: #000000;
}

.header-link {
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
}

.header-link:last-child {
    padding-right: 0;
}

.icon-bag {
    padding-right: 15px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.menu {

}

.menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.3em;
}

.menu__list li {
    display: inline;
    margin-right: 4em;
}

.menu__list li:last-child {
    padding-right: 0;
}

.header__search {
    border-bottom: 2px solid #e5e5e5;
}

.header__search .search {
    padding-bottom: 7px;
    width: 105px;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #a8a8a8;
}

.btn-search {
    background: none;
    border: 0;
}

.slider {
    margin: 0 auto;
    max-width: 1300px;
    position: relative;
}

.slider__list {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.slider__item {
    display: none;
}

.slider__item.active {
    display: block;
}

.slider__item-link {
    display: block;
}

.slider__item-link img {
    display: block;
    text-align: center;
    min-width: 1006px;
    width: 100%;
    max-width: 1300px;
}

.slider__arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: calc(50% - 110px);
    height: 110px;
    width: 35px;
    color: #ffffff;
    font-size: 3em;
    background: #f14a58;
    cursor: pointer;
}

.slider__arrow--prev {
    left: 0;
}

.slider__arrow--next {
    right: 0;
}

.slider__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    text-align: center;
}

.slider__buttons li {
    display: block;
    margin-right: 20px;
    width: 5px;
    height: 5px;
    font-size: 0;
    background: #d2d2d2;
    border-radius: 50%;
    cursor: pointer;
}

.slider__buttons li.active {
    background: #f14a58;
}

.banners {
    display: flex;
}

.banner {
    position: relative;
    width: 50%;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.banner__properties {
    position: absolute;
    top: 60px;
    right: 95px;
    text-align: center;
}

.banner__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.8em;
    font-weight: 700;
}

.banner__description {
    padding-top: 10px;
    font-family: 'Times New Roman', sans-serif;
    font-style: italic;
    font-size: 1.6em;
    color: #757575;
}

.banner__item-link img {
    display: block;
    width: 100%;
}

.new-products {
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
}

.new-products__title {
    text-align: center;
    padding-bottom: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 5em;
}

.new-products__list {
    display: flex;
    justify-content: space-between;
}

.new-products__item {
    position: relative;
}

.new-products__img {
    width: 240px;
}

.new-products__label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15px;
    left: 0;
    width: 50px;
    height: 25px;
    background: #f14a58;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3em;
}

.new-products__item-title {
    font-weight: 700;
    font-size: 1.4em;
    text-align: center;
    margin-top: 50px;
}

.new-products__link {
    text-decoration: none;
}

.new-products__price {
    padding-top: 20px;
    text-align: center;
    font-size: 1.4em;
}

.new-products__all-products {
    margin: 120px auto 0;
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 340px;
    padding: 25px 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.4em;
    border: 1px solid #e5e5e5;
}

.footer {
    margin-top: 75px;
}

.footer__navigation {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.footer__left, .footer__right {
    width: 50%;
    padding-bottom: 70px;
}

.footer__left {
    display: flex;
    justify-content: space-between;
    border-right: 1px solid #e5e5e5;
}

.footer__menu {
    width: 50%;
}

.footer__title {
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.6em;
}

.footer__menu-list {
    margin-top: 50px;
    padding-left: 0;
}

.footer__menu-list li {
    list-style: none;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
}

.footer__menu-list a:hover {
    border-bottom: 1px solid #000000;
}

.footer__contacts {
    display: flex;
    justify-content: space-between;
}

.footer__additional {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links-list li {
    display: inline-block;
}

.footer__right {
    box-sizing: border-box;
    padding-left: 50px;
}

.footer__block {
    width: 50%;
    /*padding-left: 50px;*/
}

.footer__link-tweet, .footer__link-phone {
    display: inline-block;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
}

.footer__link-tweet span {
    font-weight: 700;
}

.footer__description {
    margin-top: 80px;
    width: 305px;
    font-family: 'Times New Roman', sans-serif;
    font-style: italic;
    font-size: 1.6em;
}

.footer__social {
    margin-top: 35px;
}

.footer__social .footer__link {
    margin-right: 25px;
}

.footer__additional {
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
}

.footer__share-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8em;
}

.footer__share-link .counter {
    display: inline-block;
    width: 45px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.footer__share-link .counter {
    background-image: url('../img/share_bg.png');
}

.footer__links-list li {
    padding-right: 30px;
}

.footer__links-list li:last-child {
    padding-right: 0;
}