.footer {
    //margin-top: 75px;
}

.footer__navigation {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.footer__left, .footer__right {
    width: 50%;
    padding-bottom: 70px;
}

.footer__left {
    display: flex;
    justify-content: space-between;
    border-right: 1px solid #e5e5e5;
}

.footer__menu {
    width: 50%;
}

.footer__title {
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.6em;
}

.footer__menu-list {
    margin-top: 50px;
    padding-left: 0;
}

.footer__menu-list li {
    list-style: none;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
}

.footer__menu-list a:hover {
    border-bottom: 1px solid #000000;
}

.footer__contacts {
    display: flex;
    justify-content: space-between;
}

.footer__additional {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links-list li {
    display: inline-block;
}

.footer__right {
    box-sizing: border-box;
    padding-left: 50px;
}

.footer__block {
    width: 50%;
    /*padding-left: 50px;*/
}

.footer__link-tweet, .footer__link-phone {
    display: inline-block;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
}

.footer__link-tweet span {
    font-weight: 700;
}

.footer__description {
    margin-top: 80px;
    max-width: 305px;
    font-family: 'Times New Roman', sans-serif;
    font-style: italic;
    font-size: 1.6em;
}

.footer__social {
    margin-top: 35px;
}

.footer__social .footer__link {
    margin-right: 25px;
}

.footer__additional {
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
}

.footer__share-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8em;
}

.footer__share-link .counter {
    display: inline-block;
    width: 45px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.footer__share-link .counter {
    background-image: url('../img/share_bg.png');
}

.footer__links-list li {
    padding-right: 30px;
}

.footer__links-list li:last-child {
    padding-right: 0;
}
