.message {
  padding: 10px 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  background-color: #f7f7f7;
}

.message__text {

}

.message__text span {
  color: #f14a58;
}
