.product {
  display: flex;
  margin-bottom: 150px;
  font-family: 'Roboto', sans-serif;
}

.product__album, .product__information {
  width: 50%;
}

.product__album-main {

}

.product__album-additional {
  font-size: 0;
}

.product__additional-photo {
  display: inline-block;
  width: calc(100% / 3);
}

.product__information {
  padding-left: 45px;
}

.product__title {
  padding: 20px 0;
  font-weight: 700;
  font-size: 2.6em;
}

.product__description {
  line-height: 1.5em;
  font-family: 'Times New Roman', sans-serif;
  font-style: italic;
  font-size: 1.6em;
}

.product__price {
  padding: 45px 0;
  font-size: 2.5em;
}

.product__filter {

}

.product__filter-name {
  display: inline-block;
  font-size: 1.2em;
}

.product__filter-list {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.4em;
}

.product__filter-list li {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
}

.product__filter-list .active {
  border: 1px solid #e5e5e5;
}
